@model IEnumerable<TherapyDashboard.Areas.Identity.Data.TherapyDashboardUser>

@{
    ViewData["Title"] = "Index";


}

<h1>Accounts Dashboard</h1>

<a href="/Identity/Account/Register">Create New Account</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    Role
                </th>
                <th>
                    Pending Password Reset
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @ViewBag.UserRole[item.Id]
                </td>
                <th><a asp-action="RequirePasswordResetOnNextLogin" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.RequirePasswordResetOnNextLogin)</a></th>
                <td>
                    
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assign Role</button>
                        <div class="dropdown-menu">
                            @foreach (var role in TherapyDashboard.Areas.Identity.Data.RoleType.ToArray) {
                                <a class="dropdown-item" href="/Admin/AssignRole/@item.Id?role=@role">@role</a>
                            }
                        </div>
                    </div>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    
                </td>
            </tr>
            }
        </tbody>
    </table>