@model TherapyDashboard.Models.Database.Client
@using TherapyDashboard.Areas.Identity.Data
@{
    ViewData["Title"] = Model.Id + " Details";
}

<h1>Client @Model.Id</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <!-- Race tag dropdown -->
                <label asp-for="Race" class="control-label"></label>
                <select class="form-control" asp-for="Race" asp-items="TherapyDashboard.Models.Database.Demographics.Races"></select>
            </div>
            <div class="form-group">
                <!-- Ethnicity tag dropdown -->
                <label asp-for="Ethnicity" class="control-label"></label>
                <select class="form-control" asp-for="Ethnicity" asp-items="TherapyDashboard.Models.Database.Demographics.Ethnicities"></select>
            </div>
            <div class="form-group">
                <!-- Gender tag dropdown -->
                <label asp-for="Gender" class="control-label"></label>
                <select class="form-control" asp-for="Gender" asp-items="TherapyDashboard.Models.Database.Demographics.Genders"></select>
            </div>
            <div class="form-group">
                <label asp-for="RelationshipStatus" class="control-label"></label>
                <select class="form-control" asp-for="RelationshipStatus" asp-items="TherapyDashboard.Models.Database.Demographics.RelationshipStatuses"></select>
            </div>
            <div class="form-group">
                <label asp-for="PartnerGender" class="control-label"></label>
                <select class="form-control" asp-for="PartnerGender" asp-items="TherapyDashboard.Models.Database.Demographics.Genders"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
            @if (User.IsInRole(RoleType.Admin))
                {
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete Client</a>
               }
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="form-group">
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Enroll in Program</button>
                <div class="dropdown-menu">
                    @foreach (var program in TherapyDashboard.Models.Database.EnrollmentHelper.Options)
                    {
                        <a class="dropdown-item" href="/Clients/EnrollInProgram?id=@Model.Id&program=@program.Text">@program.Text</a>
                    }
                </div>
            </div>
        </div>
        <!-- begin enrollments section -->
        @if (Model.Enrollments != null)
        {
            @foreach (var enrollment in Model.Enrollments)
            {
                <div class="form-group">
                    <!-- header text for enrollment-->
                    <div class="row">
                        @if (enrollment.End.Ticks == 0) // if current enrollment has no end date assigned to it (if enrollment is currently active)
                        {
                            <span class="h2">@enrollment.ParticipatingIn (@enrollment.Start.ToString("d") - Current)</span>
                        }
                        else
                        {
                            <span class="h2">@enrollment.ParticipatingIn (@enrollment.Start.ToString("d")  - @enrollment.End.ToString("d"))</span>
                        }

                        <!-- dropdown with list of actions for enrollment -->
                        <div class="btn-group">
                            <button class="btn btn-info dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                            <div class="dropdown-menu">

                                @if (enrollment.End.Ticks == 0) // if enrollment is ongoing
                                {
                                    <!--Conduct New Assessment section-->
                                    <h6 class="dropdown-header">Conduct New Assessment</h6>
                                    <a asp-controller="Assessments" asp-action="CFARS" class="dropdown-item">CFARS</a>
                                    <a class="dropdown-item" asp-controller="Assessments" asp-action="PPSR">PPS-R</a>
                                    <a class="dropdown-item" asp-controller="Assessments" asp-action="PCL">PCL</a>
                                    <div class="dropdown-divider"></div>
                                }


                                @if (enrollment.End.Ticks == 0 || enrollment.Assessments == null) // if enrollment is either ongoing or has no assessments
                                {
                                    <!--Enrollment Management section-->
                                    <h6 class="dropdown-header">Manage Enrollment</h6>
                                }
                                @if (enrollment.End.Ticks == 0) // if enrollment is ongoing
                                {
                                    <a class="dropdown-item" href="/Clients/EndEnrollment?id=@enrollment.Id&client=@Model.Id">End Today</a>
                                }
                                @if (enrollment.Assessments == null) // if there are no assessments so far
                                {
                                    <a class="dropdown-item" href="/Clients/DeleteEnrollment?id=@enrollment.Id&client=@Model.Id">Delete</a>
                                }


                                @if (enrollment.End.Ticks != 0 && enrollment.Assessments != null)
                                {
                                    <!--No actions available-->
                                    <div class="dropdown-menu p-4 text-muted" style="max-width:200px">
                                        <p>
                                            No actions available.
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <!-- list of all assessments in current program enrollment -->
                    @if (enrollment.Assessments == null)
                    {
                        <small class="h4 text-muted">No assessments in this program enrollment at this time.</small>
                    }
                    else
                    {
                        if (enrollment.Assessments.Count == 0)
                        {
                            <small class="h4 text-muted">No assessments in this program enrollment at this time.</small>
                        }
                        else
                        {
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Marked As</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var assessment in enrollment.Assessments.OrderBy(x => x.ConductedOn))
                                    {
                                        <tr>
                                            <th scope="row">@assessment.ConductedOn</th>
                                            <th>@assessment.AssessmentType</th>
                                            <th>@assessment.Tag</th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    }
                </div>
            }
        }
        <!-- end enrollments section -->
    </div>
</div>

    <div>
        <a asp-action="Index">Back to Client Search</a>
    </div>

    @section Scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
